.bg-primary {
    background-image: linear-gradient(to right, rgb(22, 22, 61), grey ) !important;
}

.modal-border {
    border: 1px solid #5c3d46;
    height: 250px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(125, 54, 206) !important;
  }

  .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #9073e9 !important;
}

.navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #9073e9;
}

hr.star-light:after {
    color: #fff;
    background-color: #9073e9 !important;
  }

  