.bg-primary {
    background-image: linear-gradient(to right, rgb(103, 154, 173), rgb(88, 118, 153) ) !important;
}

.modal-border {
    border: 1px solid black;
    height: 250px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(69, 101, 189) !important;
  }

  .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #5d8a8d !important;
}

.navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #150938;
}

hr.star-light:after {
    color: #fff;
  }

  