.bg-primary {
    background-color: white !important;
}

.modal-border {
    border: 1px solid black;
    height: 250px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(124, 127, 128);
  }

  .navbar-nav > li.nav-item > a.nav-link.active {
    color: rgb(255, 124, 110);
    background: rgb(124, 127, 128) !important;
}


.header-image {
    height: 400px;
    display: inline-block;
}

header {
    background-image: url("img/portfolio/trees/jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.profile-pic {
    height: 200px;
}



